@import '../../scss/fonts.scss';
@import '../../scss/vender/bootstrap/_variables';

.nav-item {
  & + &::before {
    padding: 5px;
    content: ' • ';
    :hover {
      color: #fff;
    }
  }
}

.nav-item-link {
  color: #fff;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  line-height: 53px;

  &:hover {
    text-decoration: none;
  }

  @media (min-width: $screen-md) {
    font-size: 22px;
  }
}
