@import '../../scss/vender/bootstrap/_variables';
@import '../../scss/theme';

.nav-item {
  line-height: 53px;

  & + &::before {
    padding: 5px;
    content: ' • ';
    :hover {
      color: $theme-white;
    }
  }
}
