@import '../../scss/fonts.scss';
@import '../../scss/vender/bootstrap/_variables';
@import '../../scss/theme';

.nav-item-link {
  color: $theme-white;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;

  &:hover,
  &.active {
    text-decoration: none;
    color: $theme-green;
  }

  @media (min-width: $screen-md) {
    font-size: 22px;
  }
}
