@import '../../scss/theme';

.nav-icon {
  display: flex;
  align-items: center;
  height: 53px;
  padding: 5px;

  svg {
    width: 24px;
    height: auto;

    path {
      fill: $theme-white;
    }

    &:hover {
      path {
        fill: $theme-green;
      }
    }
  }
}
