@import '../../scss/vender/bootstrap/_variables';

.header {
  background: #657e6c;
  height: 195px;
  position: relative;
  padding-top: 40px;
}

.heading-logo {
  width: 210px;
  height: auto;
  position: relative;
  top: 25px; //@TODO: Make this cleaner
  margin: 0 auto;
  z-index: 5;
  display: block;
  transition: width 0.3s ease-out, top 0.3s ease-out;

  @media (min-width: $screen-md) {
    width: 258px;
    top: 0;
  }
}
