.header {
  background: #657e6c;
  height: 195px;
  position: relative;
  padding-top: 40px;
}

.heading-logo {
  height: 258px;
  width: 258px;
  position: relative;
  margin: 0 auto;
  z-index: 5;
  display: block;
}
