.content-block {
  svg {
    width: 60px;
    height: auto;

    path {
      fill: #323232;
    }
  }
}

.content-block-html {
  margin-bottom: 30px;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 16px; //@TODO: Maybe style the p, li etc

  h1,
  h2,
  h3 {
    margin-top: 0;
    font-family: 'Oswald', sans-serif;
  }

  ul em {
    font-size: 85%;
    display: block;
  }

  li {
    margin-bottom: 10px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
