@import '../../scss/theme';

.content-block {
  padding-top: 32px;

  &:last-of-type {
    margin-bottom: 32px;
  }

  svg {
    width: 60px;
    height: auto;

    path {
      fill: $theme-black;
    }
  }
}

.content-block-heading {
  font-weight: 300;
  margin-top: 0;
  font-family: 'Oswald', sans-serif;

  &::before {
    display: block;
    content: ' ';
    margin-top: -$hash-tag-links-padding;
    height: $hash-tag-links-padding;
    visibility: hidden;
    pointer-events: none;
  }
}

.content-block-html {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 16px; //@TODO: Maybe style the p, li etc

  h1,
  h2,
  h3 {
    margin-top: 0;
    font-family: 'Oswald', sans-serif;
  }

  ul em {
    font-size: 85%;
    display: block;
  }

  li {
    margin-bottom: 10px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
