$theme-white: #fff;
$theme-black: #323232;
$theme-canvas: #cbcbcb;
$theme-green: #657e6c;

// $theme-footer: darken($theme-green, 20%);
$theme-footer: #ffe59c;

// Z-Index Scale
// Credit: https://medium.com/@fat/mediums-css-is-actually-pretty-fucking-good-b8e2a6c78b06
// --------------------------------------------------
$z-index-1: 100;
$z-index-2: 200;
$z-index-3: 300;
$z-index-4: 400;
$z-index-5: 500;
$z-index-6: 600;
$z-index-7: 700;
$z-index-8: 800;
$z-index-9: 900;
$z-index-10: 1000;

$hash-tag-links-padding: 75px;

/* Fonts */
$systemSerif: 'Apple Garamond', 'Baskerville', 'Times New Roman', 'Droid Serif',
  'Times', 'Source Serif Pro', serif;

$systemMonospace: 'SF Mono', 'Monaco', 'Inconsolata', 'Fira Mono',
  'Droid Sans Mono', 'Source Code Pro', monospace;

$theme-sans-serif: 'Oswald', system-ui;
$theme-serif: 'Merriweather', $systemSerif;
