@import '../../scss/fonts.scss';
@import '../../scss/vender/bootstrap/_variables';

.nav-container {
  background: #323232;
  height: 53px;
  position: absolute;
  bottom: 0;
  width: 100%;

  nav {
    height: 53px;
    color: #fff;

    a {
      &:hover,
      &.active {
        color: #657e6c;
      }
    }
  }
}

.nav-item {
  & + &::before {
    padding: 5px;
    content: ' • ';
    :hover {
      color: #fff;
    }
  }
}

.nav-social {
  display: flex;
}
