@import '../../scss/vender/bootstrap/_variables';
@import '../../scss/theme';

.nav-container {
  background: $theme-black;
  height: 53px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;

  position: sticky;
  top: 0;
  z-index: $z-index-2;

  nav {
    height: 53px;
    color: $theme-white;
  }
}

.nav-social {
  display: flex;
}
