@import '../../scss/fonts.scss';
@import '../../scss/vender/bootstrap/_variables';

.nav-container {
  background: #323232;
  height: 53px;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;

  nav {
    height: 53px;
    color: #fff;

    a {
      &:hover,
      &.active {
        color: #657e6c;
      }
    }
  }
}

.nav-social {
  display: flex;
}
